body
{
    background-color: #f4f4f4;
    font-family: sans-serif;
    margin-bottom: 30%;
}

#translatetitle
{
    text-align: center;
    margin: 1em;
}


#instruct
{
    margin: 1em auto;
    width: 600px;
}


#languages
{
    margin: 1em auto;
    width: 600px;
    height: 2em;
}

    #languages > div
    {
        float: right;
        font-size: 1em;
    }

    #languages select
    {
        font-size: inherit;
    }


#generatediv
{
    position: fixed;
    left: 50%;
    top: 10em;
    width: 0;
    height: 0;
    background-color: red;
}

    #generatediv input
    {
        position: relative;
        left: 315px;
        font-size: 1.2em;
    }


#translateroot
{
    margin: 1em auto;
    width: 600px;
}

.translatetable
{
    margin-bottom: 2em;
    padding: 1em;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border: 1px solid #e9e9e9;
}

.tabletitle
{
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #eeeeee;
}

.wordrow
{
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #eeeeee;
}

    .wordrow .descrip
    {
        color: #888;
        font-size: .9em;
        margin-bottom: .5em;
    }

        .wordrow .descrip span
        {
            margin-left: .5em;
            white-space: nowrap;
        }

    .wordrow .message
    {
        font-weight: bold;
    }

    .wordrow textarea
    {
        width: 100%;
        height: 3em;
        border: 1px solid #ccc;
        font-family: sans-serif;
        font-size: 1em;
    }

.rowgroup
{
    margin-top: 1em;
    margin-bottom: .5em;
}

.grouptitle
{
    font-weight: bold;
    font-size: 1.1em;
}

    .grouptitle a
    {
        font-size: .8em;
        color: #666666;
        text-decoration: none;
        float: right;
        margin-right: 1em;
        cursor: pointer;
        padding: 3px 6px;
        border-radius: 6px;
    }

        .grouptitle a:hover
        {
            background-color: #e8e8e8;
        }

.grouprows
{
    margin-left: 3em;
    display: none;
}
